* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

#navbar {
    background-color: #181818;
    height: 4em;
    padding-top: 1em;
    box-shadow: 0px 3px 5em rgb(15, 15, 15);
}

#navbar ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 50%;
}

#navbar ul li {
    margin-left: 20px;
}

#navbar ul li a {
    color: #ffffff;
    padding: 0.3em;
    margin-left: 70px;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: letter-spacing 0.9s;
}

#navbar ul li a:hover {
    color: cornflowerblue;
    letter-spacing: 0.2em;
}

#heading {
    margin-top: 2%;
    width: 100%;
    height: 37.5em;
    background-color: #000000;   /*8758ff*/
    padding: 9em 12em;
    
}

#heading h1 {
    font-size: 5em;
    background: linear-gradient(to right, #f32170,#ff6b08,#cf23cf,#eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}

#heading h4 {
    font-size: 3em;
    background: linear-gradient(to right, #f32170,#ff6b08,#cf23cf,#eedd44);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip:text;
}
#contact{
    margin-top: 0.9em;
    margin-left: 3em;
    font-size: 30px;
    color:white;
}

#contact a{
    color: white;
    text-decoration: none;

}

#contact a:hover{
    color:rgb(232, 85, 85);
}

#aboutme {
    width: 139px;
    height: 50px;
    border-radius: 30px;
    border-style: none;
    outline: none;
    background-color: #16b1f8;
    font-weight: 600;
    font-size: 1.1em;
}

#intro {
    background-color: #000000;
    padding: 6em 9em;
    /* font-size:0.9em; */
    height: 60em;
    line-height: 3em;
    
    
}

#intro h1 {
    font-weight: bold;
    color: #ffffff;
    font-size: 3em;
    line-height: 1.6em;
}

#intro h3{
    color:white;
    margin-top: -3em;
}

#intro h2{
color:#FF5858;
font-size: 4em;
line-height: 1.8em;
}

/* #intro b {
    font-weight: 400;
    color: #ffffff;
    font-size: 0.9em;
} */

#intro_2{
    color:white;
  
    position: absolute;
    margin-left: 40%;
    top: 16em;

}
/* 
#phone {
    margin-left: 0.4em;
    color:white;
    position: absolute;
    margin-top: 5em;
    margin-left: -5em;
    font-size: 0.5em;
    text-decoration: none;
}

#mail {
    margin-left: 0.4em;
    color:white;
    position: absolute;
    margin-top: 5em;
    margin-left: -5em;
    font-size: 0.5em;
    text-decoration: none;
}


#resume {
    margin-left: 0.4em;
    color:white;
    position: absolute;
    margin-top: 5em;
    margin-left: -5em;
    font-size: 0.5em;
    text-decoration: none;
}

#resume:hover {
    cursor: pointer;
} */

/* #i{
    color: #ffffff;
    cursor: pointer;
} */

/* 
#phone_icon{
color:#ffffff;
font-size: 0.8em;
position: relative;
margin-left: -6em;
overflow: hidden;
}

#mail_icon{
    color:#ffffff;
    font-size: 0.8em;
    position: relative;
    margin-left: -6em;
    overflow: hidden;
}

#resume_icon{
    color:#ffffff;
    font-size: 0.8em;
    position: relative;
    margin-left: -6em;
    overflow: hidden;
} */

#phone , #mail , #resume {
   
    font-size: 0.6em;
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-left: -5em;
}


#phone_icon, #mail_icon, #resume_icon {
    color: white;
    font-size: 0.9em;
    margin-right: 0.5em;
}

/* Optional hover effects for icons */
#phone_icon:hover, #mail_icon:hover, #resume_icon:hover {
    color: cornflowerblue;
    cursor: pointer;
}



.skill-container {
    background-color: #000000;
    padding: 0.2em;
    height: 48.2em;
}

.skill-img {
    width: 10em;
    height: 10em;
    margin: 1em;
    padding: 2em;
    margin-left: 8em;
    transition: 0.5s;
}

.skill-img:hover {
    /* box-shadow: 0px 3px 9px #f3e2e2; */
    border-style: none;
    outline: none;
    transform: scale(1.1);
}

#social {
    padding: 2em;
    font-size:1.4em ;
    margin-left: -2em;
}


.fa-instagram {
    background-image: linear-gradient(to right, rgb(231, 107, 151),rgb(253, 60, 124), rgb(244, 248, 29));
    padding: 1.5em;
    border-radius: 50%;
    position: absolute;
    margin-top: -1.4em;
    color: white;
    margin-left: -1em;
}


.fa-github {
    background-color: rgb(255, 255, 255);
    padding: 1.5em;
    border-radius: 50%;
    position: absolute;
    margin-top: 4em;
    color: white;
    margin-left: -1em;
}

#instagram_icon, #github_icon {
    transition: box-shadow 0.3s ease-in-out;
}

#instagram_icon:hover, #github_icon:hover {
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.8);
}



.tooltip {
    position: absolute;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    transform: translateX(10px);
}